* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
}

/* NAVBAR */

header {
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: whitesmoke;
    padding: 20px;
    top: 0px;
    right: 0px;
    left: 0px;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
}

.login:hover {
    color: #fff;
    background-color: purple;
}

.login {
    background: #5b4bff;
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
}

/* HERO */

.hero {
    background: #f5f5ff;
    padding: 80px 0;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #5b4bff;
}

.hero-text p {
    margin-bottom: 30px;
    color: #555;
    line-height: 1.6;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
}

.purple {
    background: #5b4bff;
    color: white;


}

.purple:hover {
    transform: scale(1.2);
}

.gray {
    background: #eee;
    color: black;
    transform: scale(1.1);
}

.gray:hover {
    transform: scale(1.2);
    border: 2px solid blue;
}

.hero-img {
    width: 50%;
}

.hero-img img {
    width: 100%;
}





body {
    background: #f8fafc;
    color: #111;
    padding: 40px;
}

/* WHY SECTION */

.why {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.subtitle {
    color: #666;
    margin-top: 10px;
}

.features {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    background-color: #f1f5f9;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #2563eb;
    font-size: 20px;
    margin-bottom: 16px;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    height: 238px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.choose {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 64px;
}

.box:hover {
    background: linear-gradient(135deg, #6a5cff, #8f6bff);
    color: white;
    transform: translateY(-5px);
}

.box:hover .icon {

    background: rgba(255, 255, 255, 0.2);
    color: white;

}

.box h3 {
    margin-bottom: 10px;
    text-align: left;
}

.box p {
    text-align: left;
}





.posts {
    max-width: 1200px;
    margin: 80px auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.post-container {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    width: 383px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding-bottom: 20px;
    transition: 0.3s;
    
    /* animatsiya */
}

.card:hover {
    transform: translateY(-10px);
    /* tepaga chiqadi */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.tag {
    background: #2563eb;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 15px;
    display: inline-block;
}

.card h3 {
    margin: 0 15px 10px;
    transition: 0.3s;
}

.card:hover h3 {
    color: #2563eb;
    /* sarlavha rangi o‘zgaradi */
}

.card p {
    margin: 0 15px 15px;
    color: #555;
}

.card a {
    margin-left: 15px;
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

footer {
    width: 100%;
  z-index: 999;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin: 320px;
    bottom: 0%;

    a {
        text-decoration: none;
        color: #6B7280;
    }

    .dig {
        display: flex;
        flex-direction: column;
        padding: 9.5px;
    }
}



.img {
    display: flex;
    gap: 12px;

}


.img:hover   {
    color: #111;
}


/* responsive */




/* responsive end */